<div >
    <h2>
        Welcome to the Recipe Book!
    </h2>

    <div class="row">
        <div class="col-xs-7">
            <p>Here you can create your own recipes and adjust your shopping list accordingly. To create and update your
                recipes you must sign up or log in first.</p>
            <button routerLink="/auth" class=" btn btn-primary">
                Let's get started
            </button>
            <ul class="list-group">

            </ul>
        </div>
    </div>
</div>