.bg-image {
    background-image: url('../../assets/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    /* background-image: url('../../../assets/2.jpg'); */
}

.container.bg-image {
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: right;
    border: 3px solid;
    border-radius: 20px;
    border-color: #d60b44;
}

h2 {
    color: #d60b44;
    font-weight: bold;
    margin-top: 20%;
}

button {
    background-color: #d60b44;
    margin: 1.25rem 0;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 15px;
}