<ng-template #modal></ng-template>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" 
        (ngSubmit)="onSubmit()"
         >
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!recipeForm.valid"
                    >Save</button>
                    <button 
                    type="button"
                     class="btn btn-danger"
                     (click)="onCancel()"
                     style="margin-left: 10px"
                     >Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        formControlName="name"
                        >
                        <ul class="text-danger list-unstyled mt-1">
                            <li *validationErrors="recipeForm; control:'name'; let err">
                            {{ err }}
                        </li>
                            </ul>
                        <!-- <ul class="text-danger list-unstyled mt-1" *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
                            <li *ngFor="let err of recipeForm.get('name').errors | validationFormat:'name'">
                            {{ err }}
                            </li>
                            </ul> -->
                        <!-- <span 
                        *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched"
                        class="help-block">Please enter a recipe name!
                    </span>  -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                        type="text" 
                        id="imagePath" 
                        class="form-control"
                        formControlName="imagePath"
                        #imagePath>
                        <ul class="text-danger list-unstyled mt-1">
                            <li *validationErrors="recipeForm; control:'imagePath'; let err">
                            {{ err }}
                        </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="image-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                        type="text" 
                        id="description" 
                        class="form-control" 
                        rows="6"
                        formControlName="description">
                        </textarea>
                        <ul class="text-danger list-unstyled mt-1">
                            <li *validationErrors="recipeForm; control:'description'; let err">
                            {{ err }}
                        </li>
                            </ul>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" 
                    *ngFor="let ingredientCtrl of controls; let i = index" 
                    [formGroupName]="i"
                    style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input 
                            type="number" 
                            class="form-control"
                            formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button 
                            type="button"
                            class="btn btn-danger"
                            (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button
                            type="button" 
                            class="btn btn-success" 
                            (click)="onAddIngredient()"
                            style="margin-bottom: 20px;">Add Ingredient</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>